<div>
	<%= form_for @user do |f| %>
		<div id="name">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div id="email">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div id="pass">
			<%= f.label :password %>
			<%= f.text_field :password %>
		</div>
		<div class="submit-field">
			<%= f.submit "Sign Up"%>
		</div>
	<% end %>	
</div>